.DS_Store
.idea
.vscode
awesome-colour/
colour/
colour-demosaicing/
colour-hdri/
colour-checker-detection/
colour-datasets/
colour-visuals/
colour-dash/
colour-science.org/
colour-branding/
colour-mitsuba/
colour-nuke/
colour-webhook/